# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
ynpm-debug.log
testem.log
/artifacts
/tests/integration/results

# vi swap files
*.swp

#webstorm
.idea
